body{
    background-image: url(wal.jpg);
}

.btn {
    border-radius: 1pc;
    font-size: 18px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #2d4cc8
    ;color: rgb(250, 242, 242);
    text-align-last:center;width: 24pc;
    height: 78px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    width: 80pc;
    font-weight: bold;
    margin-bottom: 13px;
}
.btn:hover{
    background-color: #57a3de;
    color: black;
    font-size: 19px;
}
.v{
    border-radius: 1pc;
    font-size: 18px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #852dc8
    ;color: rgb(250, 242, 242);
    text-align-last:center;width: 24pc;
    height: 78px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 13px;
    width: 80pc;
    font-weight: bold;font-weight: bold;
     
}
.v:hover{
    background-color: rgb(70, 174, 174);
    font-size: 19px;
    color: black;
}
.pm{
    border-radius: 1pc;
    font-size: 18px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #852dc8
    ;color: rgb(15, 13, 13);
    text-align-last:center;
    width: 24pc;
    height: 78px;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 13px;
    width: 80pc;
}
.pm:hover{
    background-color: #2d4cc8;
    font-size: 19px;
}
.n{
    border-radius: 1pc;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #2d4cc8
    ;color: rgba(250, 242, 242, 0.935);
    text-align-last:center;width: 24pc;
    height: 78px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    width: 80pc;
    margin-top: 5px;
    margin-bottom: 13px;
}
.n:hover{
    background-color: rgb(100, 210, 146);
    font-size: 19px;
    color: black;
}

.ap{
    width:80pc;
    height: 3.5pc;
    display: block;
    margin: auto;
    transition: 0.5s ease;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    -moz-box-align: center;
    padding: 2px;
    background-color: #2d4cc8;
    color: wheat;

}
.ap:hover{
    background-color: #57a3de;
    color: black;
    font-size: 20px;
}
.aa{
    width:80pc;
    height: 3.5pc;
    display: flex;
    margin: auto;
    transition: 0.5s ease;
  text-align: center;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    justify-content: center;
    background-color: #2d4cc8;
    color: wheat;
}
.aa:hover{
    background-color: #57a3de;
    color: black;
    font-size: 13px;
}
.he{
    width:80pc;
    height: 3.5pc;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
    transition: 0.5s ease;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    padding: 2px;
    font-weight: bold;
    background-color: #2d4cc8;
    color: wheat;
}
.he:hover{
    background-color: #57a3de;
    color: black;
    font-size: 13px;
}
.ce{
    width:80pc;
    height: 3.5pc;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
    transition: 0.5s ease;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    justify-content: center;
    cursor: pointer;
    background-color: #2d4cc8;
    color: white;

}
.ce:hover{
    background-color: #57a3de;
    color: black;
    font-size:13px ;
}
.b {
    width:80pc;
    height: 3.7pc;
    display: flex;
    margin: auto;
    transition: 0.5s ease ;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    background-color: #2d4cc8;
    color: white;
}
.b:hover{
    background-color: #57a3de;
    color: black;
    font-size: 17px; 
}
.ot {
    width:80pc;
    height: 3.5pc;
    display: flex;
    justify-content: center;
    margin: auto;
    transition: 0.5s ease;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #2d4cc8;
    color: wheat;
}
.ot:hover{
    background-color: #57a3de;
    color: black;
    font-size: 13px;
}
.st {
    width:80pc;
    height: 3.5pc;
    display:flex;
    margin: auto;
    transition: 0.5s ease;
    text-align: center;
    font-size: 13px;
    justify-content: center;
    background-color: #2d4cc8;
    color: white;
    margin-bottom: 5px;
}
.st:hover{
    background-color: #57a3de;
    color: black;
    font-size: 14px;
}
.my {
    border-radius: 1pc;
    font-size: 15px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #2d4cc8
    ;color: rgb(250, 242, 242);
    text-align-last:center;width: 24pc;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    width: 70pc;
    font-weight: bold;
    margin-bottom: 13px;
}
.my:hover{
    background-color: #57a3de;
    font-size: 16px;
    color: black;
}
.mee {
    border-radius: 1pc;
    font-size: 25px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #2d4cc8
    ;color: rgb(250, 242, 242);
    text-align-last:center;width: 24pc;
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    width: 50pc;
    font-weight: bold;
    margin-bottom: 13px;
}
.mee:hover{
    background-color: #57a3de;
    font-size: 16px;
    color: black;
    font-size: 28px;
}
.kn {
    border-radius: 1pc;
    font-size: 26px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #2d4cc8
    ;color: rgb(250, 242, 242);
    text-align-last:center;width: 24pc;
    height: 70px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    width: 80pc;
    font-weight: bold;
    margin-bottom: 13px;
}
.kn:hover{
    background-color: #57a3de;
    color: black;   
    font-size: 20px;
}
.aps {
    border-radius: 1pc;
    font-size: 26px;
    cursor: pointer
    ;background-attachment: fixed;
    background-color: #2d4cc8
    ;color: rgb(250, 242, 242);
    text-align-last:center;width: 24pc;
    height: 70px;
    display: flex;
    align-items: center;
    transition: 0.7s ease;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    width: 70pc;
    font-weight: bold;
    margin-bottom: 13px;
    }
    .aps:hover{
        background-color: #57a3de;
        color: black;
        font-size: 24px;
    }
    .hea {
        border-radius: 1pc;
        font-size: 26px;
        cursor: pointer
        ;background-attachment: fixed;
        background-color: #2d4cc8
        ;color: rgb(250, 242, 242);
        text-align-last:center;width: 24pc;
        height: 70px;
        display: flex;
        align-items: center;
        transition: 0.5s ease;
        justify-content: center;
        margin: auto;
        text-align: center;
        margin-top: 5px;
        width: 60pc;
        font-weight: bold;
        margin-bottom: 13px;
    }
    .hea:hover{
        background-color: #57a3de;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }